* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.carousel {
    width: 50%;
    margin: 0 auto;
}

img{
    height: 95vh;
    object-fit: contain;
}


.description {
    padding: 1em;
}