* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    position: fixed;
    height: 5vh;
    width: 100%;
    background-color: black;
}

a {
    text-decoration: none;
    color: white;
}

article {
    height: 95vh;
    padding-top: 5vh;
}

img {
    height: 95vh;
    object-fit: contain;
}

.description {
    padding: 1em;
}